@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&display=swap');
* {
    margin: 0%;
    padding: 0%;
}
#home {
    background-image: url(https://i.postimg.cc/NMXqJVrF/adrien-olichon-RCAhi-GJs-UUE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container {
    /* background-color: white; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}
.description {
   font-family: montserrat;
   color: white;
}
.para {
    font-size: 25px;
    font-weight: bolder;
}
.display-3 {
    font-weight: lighter !important;
}
.navbar {
    font-family: montserrat;
}
.navbar-brand {
    color: white !important;
    font-size: 30px !important;
}
.nav-link {
    color: white !important;
}
.icon {
    font-size: 25px;
    padding-inline: 5px;
}

.container-fluid {
    font-family: montserrat;
}
.display-4 {
    text-align: center;
}
.body {
    text-align: center;
}
/* .flexthese {
    display: flex !important;
    justify-content: center !important;
    justify-content: space-around !important;
} */

.circle {
    width: 13rem;
    height: 13rem;
    border-radius: 50rem;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
}
.col-lg-4 {
    display: flex;
    justify-content: center;
}
li {
    list-style-type: none;
}
/* js styling */
.education {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.card {
    width: 300px;
    height: 300px !important;
    border-radius: 150px !important;
}
.card:nth-child(odd) {
    background-color: aqua;
    left: 50%;
}
.card:nth-child(even) {
    background-color: blue;
    right: 50%;
}
/* js styling */